body {
  background-color: #000;
  font: {
    family: 'Martel Sans', sans-serif;
  }
}

$elipsea:19px;

section {
  height: 350px;
  width: 94%;
  box-shadow: 0 0 146px 21px rgba(0, 0, 0, .75);
  background: {
    color: #000;
    repeat: no-repeat;
    size: cover;
    position: center center;
  }
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0;

  a {
    text: {
      transform: uppercase;
      align: center;
      decoration: none;
    }
    font: {
      size: 4.875em;
      weight: 900;
    }
    color: #fff;

    &:after,
    &:before {
      content: '';
    }
  }

  &:nth-child(2n+1) {
  }
}
