section {
  &.p14{
    background-image: url($image5);
    a{
      $w: 322px;
      $h: 94px;
      @include a($w, $h);
      z-index: 10;
      &:before, &:after{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: -35%;
        right: -10%;
        @include transition(all 1s cubic-bezier(.45,.76,.58,.94));
      }
      &:before{
        background-color: #011925;
        z-index: -1;
      }
      &:after{
        background-color: #fff;
        z-index: -2;
        @include transform(scale(.90));
      }
      &:hover{
        &:after{
          @include transform(scale(1) translate(10px));
        }
      }
    }
  }
}
