section {
  &.head {
    background-color: #fff;
    position: relative;
    z-index: 10;

    a {
      $w: 652px;
      $h: 78px;
      @include a($w, $h);
      font-weight: 200;
      color: #BABABA;
      @include transition(all 2s cubic-bezier(.21,1,.84,1.01) );

      &:before,
      &:after {
        color: #000;
        font-weight: 900;
        font-size: 30px;
        text-transform: none;
        display: block;
        @include transition(inherit);
      }

      &:before {
        content: attr(data-bf);
        position: absolute;
        top: -45px;
        left: -5px;
      }

      &:after {
        content: attr(data-af);
        position: absolute;
        right: 0;
        bottom: -30px;
      }

      &:hover {
        @include transform( scale(1.05) );
        &:before {
          @include transform(scale(1.2) translate(-25px, -15px));
        }

        &:after {
          @include transform(scale(1.2)  translate(25px, 15px));
        }
      }
    }
  }
}
